{% extends 'base.html' %}

{% block content %}

<!--THIS PAGE IS COPIED FROM 'billing_info.html' IN THE PAYMENT'S APP TEMPLATE FOLDER. THEN IT IS EDITED-->

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Payment Success!</h1>
                <p class="lead fw-normal text-white-50 mb-0">Your Order is complete...</p>
            </div>
        </div>
    </header>
    <br>
    <div class="container">
        <div class="row">
            <!-- Bootstrap.com in card section:-->
            <div class="col-md-6 offset-md-3">

                <br><br>
                    This is some stuff....
                <br>&nbsp;<br><br>&nbsp;<br><br>&nbsp;<br><br>&nbsp;<br>
		        <br>	

            </div>
        </div>
    </div>

{% endblock %}
